<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Apps: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  
  <% if page_scripts = (yield :page_scripts)%>
	  <%= javascript_tag page_scripts %>
  <%end%>
  
</head>
<% 
	body_html_attributes = {}
	unless ( onload = (yield :body_onload) ).blank?
		body_html_attributes[:onload] = onload
	end 
%>
<% content_tag :body, body_html_attributes do %>
	<p style="color: green"><%= flash[:notice] %></p>
	<p style="color: red"><%= flash[:error] %></p>
	<%= yield  %>
<%end%>
</html>
